
SkillboxCSharpHW9/.vs/ProjectEvaluation/skillboxcsharphw9.metadata.v5.2
SkillboxCSharpHW9/.vs/ProjectEvaluation/skillboxcsharphw9.projects.v5.2
SkillboxCSharpHW9/.vs/SkillboxCSharpHW9/FileContentIndex/b18c88f0-6ebc-4b41-a5be-c13df8de7021.vsidx
SkillboxCSharpHW9/.vs/SkillboxCSharpHW9/FileContentIndex/read.lock
SkillboxCSharpHW9/.vs/SkillboxCSharpHW9/v17/.futdcache.v2
SkillboxCSharpHW9/.vs/SkillboxCSharpHW9/v17/.suo
SkillboxCSharpHW9/bin/Debug/net7.0-windows/SkillboxCSharpHW9.deps.json
SkillboxCSharpHW9/bin/Debug/net7.0-windows/SkillboxCSharpHW9.dll
SkillboxCSharpHW9/bin/Debug/net7.0-windows/SkillboxCSharpHW9.exe
SkillboxCSharpHW9/bin/Debug/net7.0-windows/SkillboxCSharpHW9.pdb
SkillboxCSharpHW9/bin/Debug/net7.0-windows/SkillboxCSharpHW9.runtimeconfig.json
SkillboxCSharpHW9/obj/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/_IsIncrementalBuild
SkillboxCSharpHW9/obj/Debug/net7.0-windows/App.g.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/App.g.i.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/apphost.exe
SkillboxCSharpHW9/obj/Debug/net7.0-windows/MainWindow.baml
SkillboxCSharpHW9/obj/Debug/net7.0-windows/MainWindow.g.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/MainWindow.g.i.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/ref/SkillboxCSharpHW9.dll
SkillboxCSharpHW9/obj/Debug/net7.0-windows/refint/SkillboxCSharpHW9.dll
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_c1mcqfg2_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_c1mcqfg2_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.csproj.AssemblyReference.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.csproj.CoreCompileInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.csproj.FileListAbsolute.txt
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.designer.deps.json
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.designer.runtimeconfig.json
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.dll
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.g.resources
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.genruntimeconfig.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.pdb
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_3or1v5d2_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_3or1v5d2_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_3or1v5d2_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_3or1v5d2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_c1mcqfg2_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_c1mcqfg2_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_c1mcqfg2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cehalm30_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cehalm30_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cehalm30_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cehalm30_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cehalm30_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_hmppjtdp_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_hmppjtdp_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_hmppjtdp_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_hmppjtdp_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_hmppjtdp_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_m05v321t_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_m05v321t_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_m05v321t_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_m05v321t_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_m05v321t_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_MarkupCompile.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_MarkupCompile.i.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_MarkupCompile.lref
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_n4dslaiy_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_n4dslaiy_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_n4dslaiy_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_n4dslaiy_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_n4dslaiy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nu5j0rzg_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nu5j0rzg_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nu5j0rzg_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nu5j0rzg_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nu5j0rzg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_o4ldbac1_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_o4ldbac1_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_o4ldbac1_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_o4ldbac1_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_o4ldbac1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_smhfcv3s_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_smhfcv3s_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_smhfcv3s_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_smhfcv3s_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_smhfcv3s_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_v0backum_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_v0backum_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_v0backum_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_v0backum_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_v0backum_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xphsd3bq_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xphsd3bq_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xphsd3bq_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xphsd3bq_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xphsd3bq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/project.assets.json
SkillboxCSharpHW9/obj/project.nuget.cache
SkillboxCSharpHW9/obj/SkillboxCSharpHW9.csproj.nuget.dgspec.json
SkillboxCSharpHW9/obj/SkillboxCSharpHW9.csproj.nuget.g.props
SkillboxCSharpHW9/obj/SkillboxCSharpHW9.csproj.nuget.g.targets
SkillboxCSharpHW9/obj/SkillboxCSharpHW9_3or1v5d2_wpftmp.csproj.nuget.dgspec.json
SkillboxCSharpHW9/obj/SkillboxCSharpHW9_3or1v5d2_wpftmp.csproj.nuget.g.props
SkillboxCSharpHW9/obj/SkillboxCSharpHW9_3or1v5d2_wpftmp.csproj.nuget.g.targets
SkillboxCSharpHW9/.vs/SkillboxCSharpHW9/FileContentIndex/97f3bb5d-5e62-457c-8217-d79dbc4456a5.vsidx
SkillboxCSharpHW9/.vs/SkillboxCSharpHW9/FileContentIndex/535f999a-0478-41bc-9a08-3c20dc01a37c.vsidx
SkillboxCSharpHW9/.vs/SkillboxCSharpHW9/FileContentIndex/18896885-7501-440a-b997-bc89555d3502.vsidx
SkillboxCSharpHW9/.vs/SkillboxCSharpHW9/DesignTimeBuild/.dtbcache.v2
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_0ivxqf0q_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_0ivxqf0q_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_0ivxqf0q_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_0ivxqf0q_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_0ivxqf0q_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_0qq034aw_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_0qq034aw_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_0qq034aw_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_0qq034aw_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_0qq034aw_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_242kyhwi_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_242kyhwi_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_242kyhwi_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_242kyhwi_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_242kyhwi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_3atua4al_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_3atua4al_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_3atua4al_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_3atua4al_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_3atua4al_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_4d322tz4_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_4d322tz4_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_4d322tz4_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_4d322tz4_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_4d322tz4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_an1eusa0_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_an1eusa0_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_an1eusa0_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_an1eusa0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_baweo10u_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_baweo10u_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_baweo10u_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_baweo10u_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_baweo10u_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cnvty054_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cnvty054_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cnvty054_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cnvty054_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cnvty054_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ejpxi1rs_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ejpxi1rs_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ejpxi1rs_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ejpxi1rs_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ejpxi1rs_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_gep5e4lu_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_gep5e4lu_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_gep5e4lu_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_gep5e4lu_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_gep5e4lu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_j1b0nhsy_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_j1b0nhsy_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_j1b0nhsy_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_j1b0nhsy_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_j1b0nhsy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_lnfztpgq_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_lnfztpgq_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_lnfztpgq_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_lnfztpgq_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_lnfztpgq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_lsy240uc_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_lsy240uc_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_lsy240uc_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_lsy240uc_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_lsy240uc_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_MarkupCompile.i.lref
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_mdrqouhk_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_mdrqouhk_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_mdrqouhk_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_mdrqouhk_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_mdrqouhk_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_niqegqlp_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_niqegqlp_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_niqegqlp_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_niqegqlp_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_niqegqlp_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nxrgujfw_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nxrgujfw_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nxrgujfw_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nxrgujfw_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nxrgujfw_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_oov1ftbx_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_oov1ftbx_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_oov1ftbx_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_oov1ftbx_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_oov1ftbx_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_psaalh0f_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_psaalh0f_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_psaalh0f_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_psaalh0f_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_psaalh0f_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_rfi5qmnz_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_rfi5qmnz_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_rfi5qmnz_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_rfi5qmnz_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_rfi5qmnz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ropevfrb_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ropevfrb_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ropevfrb_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ropevfrb_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ropevfrb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ssfcio2n_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ssfcio2n_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ssfcio2n_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ssfcio2n_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_ssfcio2n_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_szl4nqlo_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_szl4nqlo_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_szl4nqlo_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_szl4nqlo_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_szl4nqlo_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_trc03oze_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_trc03oze_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_trc03oze_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_trc03oze_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_trc03oze_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_uvsoagnm_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_uvsoagnm_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_uvsoagnm_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_uvsoagnm_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_uvsoagnm_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_wlyecqxp_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_wlyecqxp_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_wlyecqxp_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_wlyecqxp_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_wlyecqxp_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xfiwhkjs_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xfiwhkjs_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xfiwhkjs_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xfiwhkjs_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xfiwhkjs_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_yk2bvp0e_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_yk2bvp0e_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_yk2bvp0e_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_yk2bvp0e_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_yk2bvp0e_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_zhv0m33e_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_zhv0m33e_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_zhv0m33e_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_zhv0m33e_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_zhv0m33e_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/SkillboxCSharpHW9_an1eusa0_wpftmp.csproj.nuget.dgspec.json
SkillboxCSharpHW9/obj/SkillboxCSharpHW9_an1eusa0_wpftmp.csproj.nuget.g.props
SkillboxCSharpHW9/obj/SkillboxCSharpHW9_an1eusa0_wpftmp.csproj.nuget.g.targets
