
SkillboxCSharpHW9/.vs/ProjectEvaluation/skillboxcsharphw9.metadata.v5.2
SkillboxCSharpHW9/.vs/ProjectEvaluation/skillboxcsharphw9.projects.v5.2
SkillboxCSharpHW9/.vs/SkillboxCSharpHW9/FileContentIndex/b18c88f0-6ebc-4b41-a5be-c13df8de7021.vsidx
SkillboxCSharpHW9/.vs/SkillboxCSharpHW9/FileContentIndex/read.lock
SkillboxCSharpHW9/.vs/SkillboxCSharpHW9/v17/.futdcache.v2
SkillboxCSharpHW9/.vs/SkillboxCSharpHW9/v17/.suo
SkillboxCSharpHW9/bin/Debug/net7.0-windows/SkillboxCSharpHW9.deps.json
SkillboxCSharpHW9/bin/Debug/net7.0-windows/SkillboxCSharpHW9.dll
SkillboxCSharpHW9/bin/Debug/net7.0-windows/SkillboxCSharpHW9.exe
SkillboxCSharpHW9/bin/Debug/net7.0-windows/SkillboxCSharpHW9.pdb
SkillboxCSharpHW9/bin/Debug/net7.0-windows/SkillboxCSharpHW9.runtimeconfig.json
SkillboxCSharpHW9/obj/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/_IsIncrementalBuild
SkillboxCSharpHW9/obj/Debug/net7.0-windows/App.g.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/App.g.i.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/apphost.exe
SkillboxCSharpHW9/obj/Debug/net7.0-windows/MainWindow.baml
SkillboxCSharpHW9/obj/Debug/net7.0-windows/MainWindow.g.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/MainWindow.g.i.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/ref/SkillboxCSharpHW9.dll
SkillboxCSharpHW9/obj/Debug/net7.0-windows/refint/SkillboxCSharpHW9.dll
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_c1mcqfg2_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_c1mcqfg2_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.csproj.AssemblyReference.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.csproj.CoreCompileInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.csproj.FileListAbsolute.txt
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.designer.deps.json
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.designer.runtimeconfig.json
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.dll
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.g.resources
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.genruntimeconfig.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9.pdb
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_3or1v5d2_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_3or1v5d2_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_3or1v5d2_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_3or1v5d2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_c1mcqfg2_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_c1mcqfg2_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_c1mcqfg2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cehalm30_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cehalm30_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cehalm30_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cehalm30_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_cehalm30_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_hmppjtdp_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_hmppjtdp_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_hmppjtdp_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_hmppjtdp_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_hmppjtdp_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_m05v321t_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_m05v321t_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_m05v321t_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_m05v321t_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_m05v321t_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_MarkupCompile.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_MarkupCompile.i.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_MarkupCompile.lref
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_n4dslaiy_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_n4dslaiy_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_n4dslaiy_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_n4dslaiy_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_n4dslaiy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nu5j0rzg_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nu5j0rzg_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nu5j0rzg_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nu5j0rzg_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_nu5j0rzg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_o4ldbac1_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_o4ldbac1_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_o4ldbac1_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_o4ldbac1_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_o4ldbac1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_smhfcv3s_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_smhfcv3s_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_smhfcv3s_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_smhfcv3s_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_smhfcv3s_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_v0backum_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_v0backum_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_v0backum_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_v0backum_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_v0backum_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xphsd3bq_wpftmp.AssemblyInfo.cs
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xphsd3bq_wpftmp.AssemblyInfoInputs.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xphsd3bq_wpftmp.assets.cache
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xphsd3bq_wpftmp.csproj.BuildWithSkipAnalyzers
SkillboxCSharpHW9/obj/Debug/net7.0-windows/SkillboxCSharpHW9_xphsd3bq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
SkillboxCSharpHW9/obj/project.assets.json
SkillboxCSharpHW9/obj/project.nuget.cache
SkillboxCSharpHW9/obj/SkillboxCSharpHW9.csproj.nuget.dgspec.json
SkillboxCSharpHW9/obj/SkillboxCSharpHW9.csproj.nuget.g.props
SkillboxCSharpHW9/obj/SkillboxCSharpHW9.csproj.nuget.g.targets
SkillboxCSharpHW9/obj/SkillboxCSharpHW9_3or1v5d2_wpftmp.csproj.nuget.dgspec.json
SkillboxCSharpHW9/obj/SkillboxCSharpHW9_3or1v5d2_wpftmp.csproj.nuget.g.props
SkillboxCSharpHW9/obj/SkillboxCSharpHW9_3or1v5d2_wpftmp.csproj.nuget.g.targets
